.btn,
button,
.confirmation-dialog {
  box-shadow: 1px 3px 5px #aaa !important;
}

.navbar,
.shadow,
.card {
  box-shadow: 1px 1px 3px #aaa !important;
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.list-group-item-action {
  cursor: pointer;
}